<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Id</key>
		<integer>0</integer>
		<key>commodityImageUrl</key>
		<string>C_0.PNG</string>
		<key>commodityName</key>
		<string>苹果（Apple）iPhone6（A1586）16GB金色 移动联通电信4G手机</string>
		<key>commodityPrice</key>
		<string>4783.00</string>
		<key>commodityZX</key>
		<string>xiang3</string>
		<key>commodityPraise</key>
		<string>96%</string>
		<key>commodityPerson</key>
		<string>44939</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>1</integer>
		<key>commodityImageUrl</key>
		<string>C_0.PNG</string>
		<key>commodityName</key>
		<string>苹果（Apple）iPhone6（A1524）16GB金色 移动联通电信4G手机</string>
		<key>commodityPrice</key>
		<string>5583.00</string>
		<key>commodityZX</key>
		<string>xiang3</string>
		<key>commodityPraise</key>
		<string>96%</string>
		<key>commodityPerson</key>
		<string>32707</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>2</integer>
		<key>commodityImageUrl</key>
		<string>C_2.jpg</string>
		<key>commodityName</key>
		<string>小米4 2GB内存版 白色 移动4G手机</string>
		<key>commodityPrice</key>
		<string>1499.00</string>
		<key>commodityZX</key>
		<string></string>
		<key>commodityPraise</key>
		<string>94%</string>
		<key>commodityPerson</key>
		<string>16315</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>4</integer>
		<key>commodityImageUrl</key>
		<string>C_4.jpg</string>
		<key>commodityName</key>
		<string>三星Galaxy S6 edge (G9250) 32G版 铂光金 移动联通电信4G手机</string>
		<key>commodityPrice</key>
		<string>6088.00</string>
		<key>commodityZX</key>
		<string></string>
		<key>commodityPraise</key>
		<string>96%</string>
		<key>commodityPerson</key>
		<string>5681</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>3</integer>
		<key>commodityImageUrl</key>
		<string>C_3.jpg</string>
		<key>commodityName</key>
		<string>小米 红米2A 白色 移动4G手机 双卡双待</string>
		<key>commodityPrice</key>
		<string>499.00</string>
		<key>commodityZX</key>
		<string></string>
		<key>commodityPraise</key>
		<string>95%</string>
		<key>commodityPerson</key>
		<string>18822</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>4</integer>
		<key>commodityImageUrl</key>
		<string>C_4.jpg</string>
		<key>commodityName</key>
		<string>三星Galaxy S6 edge (G9250) 32G版 铂光金 移动联通电信4G手机</string>
		<key>commodityPrice</key>
		<string>6088.00</string>
		<key>commodityZX</key>
		<string></string>
		<key>commodityPraise</key>
		<string>96%</string>
		<key>commodityPerson</key>
		<string>5681</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>0</integer>
		<key>commodityImageUrl</key>
		<string>C_0.PNG</string>
		<key>commodityName</key>
		<string>苹果（Apple）iPhone6（A1586）16GB金色 移动联通电信4G手机</string>
		<key>commodityPrice</key>
		<string>4783.00</string>
		<key>commodityZX</key>
		<string>xiang3</string>
		<key>commodityPraise</key>
		<string>96%</string>
		<key>commodityPerson</key>
		<string>44939</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>7</integer>
		<key>commodityImageUrl</key>
		<string>553f59feN842cece4.jpg</string>
		<key>commodityName</key>
		<string>华为 Ascend Mate7 月光银 移动4G手机 双卡双待双通</string>
		<key>commodityPrice</key>
		<string>2999.00</string>
		<key>commodityZX</key>
		<string></string>
		<key>commodityPraise</key>
		<string>96%</string>
		<key>commodityPerson</key>
		<string>17014</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>8</integer>
		<key>commodityImageUrl</key>
		<string>C_0.PNG</string>
		<key>commodityName</key>
		<string>苹果（Apple）iPhone6（A1524）16GB金色 移动联通电信4G手机</string>
		<key>commodityPrice</key>
		<string>5583.00</string>
		<key>commodityZX</key>
		<string>xiang3</string>
		<key>commodityPraise</key>
		<string>96%</string>
		<key>commodityPerson</key>
		<string>32707</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>9</integer>
		<key>commodityImageUrl</key>
		<string>C_3.jpg</string>
		<key>commodityName</key>
		<string>小米 红米2A 白色 移动4G手机 双卡双待</string>
		<key>commodityPrice</key>
		<string>499.00</string>
		<key>commodityZX</key>
		<string></string>
		<key>commodityPraise</key>
		<string>95%</string>
		<key>commodityPerson</key>
		<string>18822</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>10</integer>
		<key>commodityImageUrl</key>
		<string>C_4.jpg</string>
		<key>commodityName</key>
		<string>三星Galaxy S6 edge (G9250) 32G版 铂光金 移动联通电信4G手机</string>
		<key>commodityPrice</key>
		<string>6088.00</string>
		<key>commodityZX</key>
		<string></string>
		<key>commodityPraise</key>
		<string>96%</string>
		<key>commodityPerson</key>
		<string>5681</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>11</integer>
		<key>commodityImageUrl</key>
		<string>C_3.jpg</string>
		<key>commodityName</key>
		<string>小米 红米2A 白色 移动4G手机 双卡双待</string>
		<key>commodityPrice</key>
		<string>499.00</string>
		<key>commodityZX</key>
		<string></string>
		<key>commodityPraise</key>
		<string>95%</string>
		<key>commodityPerson</key>
		<string>18822</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>12</integer>
		<key>commodityImageUrl</key>
		<string>C_3.jpg</string>
		<key>commodityName</key>
		<string>小米 红米2A 白色 移动4G手机 双卡双待</string>
		<key>commodityPrice</key>
		<string>499.00</string>
		<key>commodityZX</key>
		<string></string>
		<key>commodityPraise</key>
		<string>95%</string>
		<key>commodityPerson</key>
		<string>18822</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>13</integer>
		<key>commodityImageUrl</key>
		<string>C_4.jpg</string>
		<key>commodityName</key>
		<string>三星Galaxy S6 edge (G9250) 32G版 铂光金 移动联通电信4G手机</string>
		<key>commodityPrice</key>
		<string>6088.00</string>
		<key>commodityZX</key>
		<string></string>
		<key>commodityPraise</key>
		<string>96%</string>
		<key>commodityPerson</key>
		<string>5681</string>
	</dict>
</array>
</plist>
